---
import Application from "@layouts/Application.astro";
import Product from "@components/static/Product.astro"
import PageService from "@services/pages";

const { getPage } = PageService();

const { layout } = await getPage("ingredients");

export async function getStaticPaths() {

  const { getPage } = PageService();

  const { pages } = await getPage("ingredients");

  return pages?.map((page) => ({
    params: {
      product: page.id,
    },
    props: {
      ...page
    },
  }));
}

const { product } = Astro.params;

const { id, ...rest } = Astro.props;
---

<Application layout={layout}>
  <Product {...rest}/>
  <h1>
    {JSON.stringify(rest)}
  </h1>
</Application>
