---
import Favicon, {
  Props as FaviconProps,
} from "@components/static/Favicon.astro";

import Links, { defaultProps as defaultLinks} from "@components/static/Links.astro";

export interface Props {
  links?: any;
  favicon?: FaviconProps;
}

export const defaultProps: Props = {
  links: defaultLinks.links
};


const { links, favicon, banner } = Astro.props;
---

<div
  id="header"
  class="container fixed z-20 w-full mx-auto overflow-hidden backdrop-blur-md"
>
  <div class="flex items-center justify-between px-4 py-5">
    <Favicon {...favicon} />

    <div class="w-auto">
      <div class="flex flex-wrap items-center">
        <Links links={links} />

        <div class="hidden w-auto lg:block">
          <div class="inline-block">
            <button
              class="w-full px-5 py-3 font-semibold text-white transition duration-200 ease-in-out bg-green-600 border border-green-700 rounded-xl focus:ring focus:ring-green-300 hover:bg-green-700"
              type="button">Your Cart</button
            >
          </div>
        </div>
        <div class="w-auto lg:hidden">
          <a href="#">
            <svg
              class="text-green-700 navbar-burger"
              width="51"
              height="51"
              viewBox="0 0 56 56"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="56" height="56" rx="28" fill="currentColor"></rect>
              <path
                d="M37 32H19M37 24H19"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
