---
import FacebookIcon from "@components/static/Socials/FacebookIcon.astro";
import YouTubeIcon from "@components/static/Socials/YouTubeIcon.astro";
import LinkedInIcon from "@components/static/Socials/LinkedInIcon.astro";
import AmazonIcon from "@components/static/Socials/AmazonIcon.astro";
---

<div class="flex flex-row gap-1">
  <FacebookIcon />
  <YouTubeIcon />
  <FacebookIcon />
  <LinkedInIcon />
  <FacebookIcon />
  <YouTubeIcon />
  <AmazonIcon />
</div>
