---
import FacebookIcon from "@components/static/Socials/FacebookIcon.astro";
import YouTubeIcon from "@components/static/Socials/YouTubeIcon.astro";

---

<div class="flex flex-row gap-1">
  <FacebookIcon />
  <YouTubeIcon />
  <FacebookIcon />
  <FacebookIcon />
  <FacebookIcon />
  <YouTubeIcon />
  <FacebookIcon />
</div>
