---
import FacebookIcon from "@components/static/Socials/FacebookIcon.astro";
---

<div class="flex flex-row gap-1">
  <FacebookIcon />
  <FacebookIcon />
  <FacebookIcon />
  <FacebookIcon />
  <FacebookIcon />
  <FacebookIcon />
  <FacebookIcon />
</div>
