---
import EmailIcon from "@components/static/EmailIcon/index.astro";
export interface Props {
  emailAddress?: {
    primary?: string;
    secondary?: string;
  };
  title?: string;
}

export const defaultProps = {
  title: "[@props]: TITLE_NOT_FOUND",
  emailAddress: {
    primary: "[@props]: PRIMARY_EMAIL_NOT_FOUND",
    secondary: "[@props]: PRIMARY_EMAIL_NOT_FOUND",
  },
};

const { emailAddress, title } = Astro.props;
---

<div class:list={["flex flex-wrap border -m-3"]}>
  <div class="w-full p-3 md:w-1/3">
    <div class="w-full h-full p-10 text-center text-white rounded-lg">
      <div class="relative w-16 h-16 mx-auto mb-6 rounded-full">
        <div
          class="absolute transform -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2"
        >
          <EmailIcon />
        </div>
      </div>
      <h3 class="mb-3 text-4xl whitespace-nowrap w-full font-thin font-serif font-heading">
        {title ?? defaultProps.title}
      </h3>
      <p class="font-medium leading-relaxed">
        {emailAddress?.primary ?? defaultProps.emailAddress.primary}
      </p>
      <p class="font-medium leading-relaxed">
        {emailAddress?.secondary ?? defaultProps.emailAddress.secondary}
      </p>
    </div>
  </div>
</div>
