---
export interface Props {
  title?: string;
  description?: string;
}

export const defaultProps = {
  title: "[@props]: TITLE_NOT_FOUND",
  description: "[@props]: DESCRIPTION_NOT_FOUND",
};

const { title, description } = Astro.props;
---

<h2
  class="mb-5 font-serif text-7xl font-thin shadow-black text-shadow-lg leading-none text-center md:text-8xl xl:text-10xl font-heading tracking-px-n"
>
  {title ?? defaultProps.title}
</h2>
<p
  class="mx-auto mb-20 text-lg font-medium leading-normal text-center text-gray-600 md:max-w-lg"
>
  {description ?? defaultProps.description}
</p>
