---
import LocationIcon from "@components/static/LocationIcon/index.astro";

export interface Props {
  mailingAddress?: {
    primary?: string;
    secondary?: string;
  };
  title?: string;
}

export const defaultProps = {
  title: "[@props]: TITLE_NOT_FOUND",
  mailingAddress: {
    primary: "[@props]: PRIMARY_MAILING_ADDRESS_NOT_FOUND",
    secondary: "[@props]: SECONDARY_MAILING_ADDRESS_NOT_FOUND",
  },
};

const { mailingAddress, title } = Astro.props;
---

<div
  class:list={[
    "flex cursor-pointer backdrop-blur-md cursor-pointer rounded-lg border flex-wrap m-3",
  ]}
>
  <div class="w-full p-3 md:w-1/3">
    <div class="w-full h-full text-center p-11 bg-opacity-90">
      <div
        class="relative w-16 h-16 mx-auto mb-6 bg-white border rounded-full border-blueGray-200"
      >
        <div
          class="absolute transform -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2"
        >
          <LocationIcon />
        </div>
      </div>
      <h3
        class="mb-3 text-white text-4xl whitespace-nowrap w-full font-thin font-serif font-heading"
        "
      >
        {title ?? defaultProps.title}
      </h3>
      <p class="font-medium leading-relaxed">
        {mailingAddress?.primary ?? defaultProps.mailingAddress.primary}
      </p>
      <p class="font-medium leading-relaxed">
        {mailingAddress?.secondary ?? defaultProps.mailingAddress.secondary}
      </p>
    </div>
  </div>
</div>
