---
import PhoneIcon from "@components/static/PhoneIcon/index.astro";
export interface Props {
  phoneNumber?: {
    primary?: string;
    secondary?: string;
  };
  title?: string;
}

export const defaultProps = {
  title: "[@props]: TITLE_NOT_FOUND",
  phoneNumber: {
    primary: "[@props]: PRIMARY_PHONE_NUMBER_NOT_FOUND",
    secondary: "[@props]: SECONDARY_EMAIL_NOT_FOUND",
  },
};

const { phoneNumber, title } = Astro.props;
---

<div class:list={["flex border flex-wrap  rounded-lg backdrop-blur-md m-3"]}>
  <div class="w-full p-3 md:w-1/3">
    <div class="w-full h-full text-center rounded-lg p-11 bg-opacity-90">
      <div class="relative w-full mx-auto mb-8 rounded-full">
        <div
          class="absolute transform -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2"
        >
          <PhoneIcon />
        </div>
      </div>
      <h3
        class="mb-3 text-white text-4xl whitespace-nowrap w-full font-thin font-serif font-heading""
      >
        {title ?? defaultProps.title}
      </h3>
      <p class="font-medium leading-relaxed">
        {phoneNumber?.primary ?? defaultProps.phoneNumber.primary}
      </p>
      <p class="font-medium leading-relaxed">
        {phoneNumber?.secondary ?? defaultProps.phoneNumber.secondary}
      </p>
    </div>
  </div>
</div>
