---
import Item from "@components/static/ProductsSearch/Item.astro";
import type { Props as ItemProps } from "@components/static/ProductsSearch/Item.astro";

export interface Props {
  items?: ItemProps[];
}

const { items } = Astro.props;
---

<section class="py-16">
  <div class="container px-4 mx-auto">
    <div class="max-w-6xl mx-auto">
      {items.map((item) => <Item {...item} />) ?? <Item />}
    </div>
  </div>
</section>

<div class="mt-20 text-center">
  <a
    class="relative inline-block w-full h-12 rounded-md group sm:w-64 bg-blueGray-900"
    href="#"
  >
    <div
      class="absolute top-0 left-0 w-full h-full transition duration-300 transform -translate-x-1 -translate-y-1 group-hover:translate-y-0 group-hover:translate-x-0"
    >
      <div
        class="flex items-center justify-center w-full h-full bg-indigo-500 border-2 border-black rounded-md"
      >
        <span class="text-base font-black text-white">Show more</span>
      </div>
    </div>
  </a>
</div>
