---
import type { ImageProps } from "@typings/Image";
import AddToCart from "@components/static/AddToCart.astro";
import { formatters } from "@utils/index";

export interface Props {
  name?: string;
  price?: number;
  description?: string;
  cover?: ImageProps;
}

export const defaultProps = {
  name: "[@props]:TITLE_NOT_FOUND",
  price: "[@props]:PRICE_NOT_FOUND",
  description: "[@props]:DESCRIPTION_NOT_FOUND",
};

const { toUSD } = formatters();

const product = Astro.props;

const { name, cover, description, price } = Astro.props;
---

<div class="w-full px-4 mb-8 md:w-1/2 lg:w-full">
  <div class="flex flex-wrap items-center -mx-4">
    <div class="w-full px-4 mb-6 lg:w-1/3 lg:mb-0">
      <div class="rounded-md h-60 w-60 lg:w-full bg-blueGray-900">
        <img
          class="object-cover w-full h-full transform -translate-x-1 -translate-y-1 border-2 border-black rounded-md img-fluid"
          src={cover?.src ?? "#"}
          alt=""
        />
      </div>
    </div>
    <div class="w-full px-4 lg:w-2/3">
      <div>
        <h4 class="mb-1 text-3xl font-bold text-white">
          {name ?? defaultProps.name}
        </h4>
        <span class="block mb-8 font-bold text-green-500"
          >{toUSD(price) ?? defaultProps.price}</span
        >
        <ul class="mb-4 font-bold text-white list-disc list-inside">
          {description ?? defaultProps.description}
        </ul>
        <div class="flex flex-wrap items-center -mx-2 -mb-4 sm:flex-nowrap">
          <div class="w-full px-2 mb-4 xs:w-auto">
            <a
              class="relative inline-block w-full h-12 -mb-2 rounded-md group xs:w-52 bg-blueGray-900"
              href="#"
            >
              <div
                class="absolute top-0 left-0 w-full h-full transition duration-300 transform -translate-x-1 -translate-y-1 group-hover:translate-y-0 group-hover:translate-x-0"
              >
                <AddToCart
                  {...product}
                  sx="flex items-center justify-center w-full h-full bg-green-600 border-2 border-black rounded-md"
                />
              </div>
            </a>
          </div>
          <div class="w-auto px-2 mb-4">
            <a
              class="inline-flex items-center justify-center w-12 h-12 text-black transition duration-200 bg-white border-2 border-black rounded-md hover:text-indigo-500 hover:border-indigo-500"
              href="#"
            >
              <svg
                width="20"
                height="18"
                viewbox="0 0 20 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.44 0.0999756C12.63 0.0999756 11.01 0.979976 10 2.32998C8.99 0.979976 7.37 0.0999756 5.56 0.0999756C2.49 0.0999756 0 2.59998 0 5.68998C0 6.87998 0.19 7.97998 0.52 8.99998C2.1 14 6.97 16.99 9.38 17.81C9.72 17.93 10.28 17.93 10.62 17.81C13.03 16.99 17.9 14 19.48 8.99998C19.81 7.97998 20 6.87998 20 5.68998C20 2.59998 17.51 0.0999756 14.44 0.0999756Z"
                  fill="currentColor"></path>
              </svg>
            </a>
          </div>
          <div class="w-auto px-2 mb-4">
            <a
              class="inline-flex items-center justify-center w-12 h-12 text-black transition duration-200 bg-white border-2 border-black rounded-md hover:text-indigo-500 hover:border-indigo-500"
              href="#"
            >
              <svg
                width="24"
                height="24"
                viewbox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20.36 12.7299C19.99 12.7299 19.68 12.45 19.64 12.08C19.4 9.87995 18.22 7.89995 16.4 6.63995C16.07 6.40995 15.99 5.95995 16.22 5.62995C16.45 5.29995 16.9 5.21995 17.23 5.44995C19.4 6.95995 20.8 9.31995 21.09 11.93C21.13 12.33 20.84 12.6899 20.44 12.7299C20.41 12.7299 20.39 12.7299 20.36 12.7299Z"
                  fill="currentColor"></path>
                <path
                  d="M3.74001 12.78C3.72001 12.78 3.69001 12.78 3.67001 12.78C3.27001 12.74 2.98001 12.38 3.02001 11.98C3.29001 9.36996 4.67001 7.00996 6.82001 5.48996C7.14001 5.25996 7.60001 5.33996 7.83001 5.65996C8.06001 5.98996 7.98001 6.43996 7.66001 6.66996C5.86001 7.94996 4.69001 9.92996 4.47001 12.12C4.43001 12.5 4.11001 12.78 3.74001 12.78Z"
                  fill="currentColor"></path>
                <path
                  d="M15.99 21.1C14.76 21.69 13.44 21.99 12.06 21.99C10.62 21.99 9.24998 21.67 7.96998 21.02C7.60998 20.85 7.46998 20.41 7.64998 20.05C7.81998 19.69 8.25998 19.55 8.61998 19.72C9.24998 20.04 9.91998 20.26 10.6 20.39C11.52 20.57 12.46 20.58 13.38 20.42C14.06 20.3 14.73 20.09 15.35 19.79C15.72 19.62 16.16 19.76 16.32 20.13C16.5 20.49 16.36 20.93 15.99 21.1Z"
                  fill="currentColor"></path>
                <path
                  d="M12.05 2.01001C10.5 2.01001 9.22998 3.27001 9.22998 4.83001C9.22998 6.39001 10.49 7.65001 12.05 7.65001C13.61 7.65001 14.87 6.39001 14.87 4.83001C14.87 3.27001 13.61 2.01001 12.05 2.01001Z"
                  fill="currentColor"></path>
                <path
                  d="M5.05001 13.87C3.50001 13.87 2.23001 15.13 2.23001 16.69C2.23001 18.25 3.49001 19.51 5.05001 19.51C6.61001 19.51 7.87001 18.25 7.87001 16.69C7.87001 15.13 6.60001 13.87 5.05001 13.87Z"
                  fill="currentColor"></path>
                <path
                  d="M18.95 13.87C17.4 13.87 16.13 15.13 16.13 16.69C16.13 18.25 17.39 19.51 18.95 19.51C20.51 19.51 21.77 18.25 21.77 16.69C21.77 15.13 20.51 13.87 18.95 13.87Z"
                  fill="currentColor"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
