---
import "@libs/globals.css";

import { PageTransition } from "astro-page-transition";
import AstroGap from "astro-gap";
import Meta, { Props as MetaProps } from "@includes/static/Meta.astro";
import Header from "@includes/static/Header.astro";
import Footer from "@includes/static/Footer.astro";
import ContactRow from "@includes/static/ContactRow.astro";
import PostScripts from "@views/includes/dynamic/PostScripts.astro";

import type { FooterProps } from "@typings/Footer";
import type { HeaderProps } from "@typings/Header";
export interface Props {
  layout?: {
    header?: HeaderProps;
    footer?: FooterProps;
    meta?: MetaProps;
  };
}

const { layout } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Meta {...layout.metaData} />
  <body>
    <Header {...layout.header} />
    <AstroGap spaces={7} />
    <slot />
    <ContactRow />
    <Footer {...layout.footer} />
    <PostScripts />
    <PageTransition speed={500} background={"rgb(0,0,0)"} />
  </body>
</html>
