---
import "@libs/globals.css";

import { PageTransition } from "astro-page-transition";
import AstroGap from "astro-gap";
import Meta from "@includes/static/Meta.astro";
import Menu from "@includes/dynamic/Menu/index.tsx";
import Header from "@includes/dynamic/Header/index.tsx";
import Footer from "@includes/static/Footer/index.astro";
import Contacts from "@includes/static/Contacts/index.astro";
import PostScripts from "@includes/dynamic/PostScripts.astro";
import type { Props as MetaProps } from "@includes/static/Meta.astro";
import type { Props as HeaderProps } from "@includes/static/Header.astro";
import type { Props as FooterProps } from "@includes/static/Footer.astro";
import type { PageLayoutProps } from "@typings/Page";

export interface Props extends PageLayoutProps {}

export const defaultProps = {
  layout: {
    header: {},
    footer: {},
    contacts: {},
    metaData: {
      title: "[@props]: TITLE_NOT_FOUND",
    },
    transition: "rgba(0,0,0,0.01)",
  },
};

const { layout } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Meta {...layout?.metaData ?? defaultProps.layout.metaData} />
  <body>
    <AstroGap spaces={10} />
    <Header {...layout.header ?? defaultProps.layout.header} />
    <slot />
    <Contacts {...layout.contacts} />
    <Footer {...layout.footer ?? defaultProps.layout.footer} />
    <PostScripts />
    <PageTransition speed={300} background={defaultProps.layout.transition} />
    <Menu />
  </body>
</html>
