---
import "@libs/globals.css";

import { PageTransition } from "astro-page-transition";
import AstroGap from "astro-gap";
import Meta from "@includes/static/Meta.astro";
import Header from "@includes/static/Header/index.astro";
import Footer from "@includes/static/Footer/index.astro";
import ContactRow from "@includes/static/ContactRow.astro";
import PostScripts from "@includes/dynamic/PostScripts.astro";
import Menu from "@includes/dynamic/Menu.svelte";
import type { Props as MetaProps } from "@includes/static/Meta.astro";
import type { Props as HeaderProps } from "@includes/static/Header.astro";
import type { Props as FooterProps } from "@includes/static/Footer.astro";

export interface Props {
  layout?: {
    header?: any;
    contactRow?: any;
    footer?: any;
    metaData?: any;
    transition?: string;
  };
}

export const defaultProps = {
  layout: {
    header: {},
    footer: {},
    contactRow: {},
    metaData: {
      title: "TITLE_NOT_FOUND",
    },
    transition: "rgba(0,0,0, 0.01)",
  },
};

const { layout } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Meta {...layout?.metaData ?? defaultProps.layout.metaData} />
  <body>
    <Header {...layout.header ?? defaultProps.layout.header} />
    <AstroGap spaces={5} />
    <slot />
    <ContactRow {...layout.contactRow} />
    <Footer {...layout.footer ?? defaultProps.layout.footer} />
    <PostScripts />
    <Menu client:idle />
    <PageTransition speed={100} background={defaultProps.layout.transition} />
  </body>
</html>
