---
import "@libs/globals.css";

import { SEO } from "astro-seo";

import Header from "@includes/static/Header.astro";
import Footer from "@includes/static/Footer.astro";
import ContactRow from "@includes/static/ContactRow.astro";

export interface Props {
  title?: string;
  pageTitle?: string;
  description?: string;
  twitter?: {
    creator?: string;
  };
}

const { title, pageTitle, description, twitter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <SEO
      title={`${pageTitle ?? "PAGE_TITLE_NOT_FOUND"} | ${
        title ?? "TITLE_NOT_FOUND"
      }`}
      description={`${description ?? "DESCRIPTION_NOT_FOUND"}`}
      twitter={{
        creator: "@jonasmerlins1",
      }}
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>

  <body>
    <Header />
    <slot />
    <ContactRow />
    <Footer />
  </body>
</html>
