---
import "@libs/globals.css";

import { SEO } from "astro-seo";
import { Font } from "astro-fonts";

import Header from "@includes/static/Header.astro";
import Footer from "@includes/static/Footer.astro";
import ContactRow from "@includes/static/ContactRow.astro";
import PostScripts from "@views/includes/dynamic/PostScripts.astro";
export interface Props {
  title?: string;
  pageTitle?: string;
  description?: string;
  twitter?: {
    creator?: string;
  };
}

const PUBLIC_SNIPCART_API_KEY = import.meta.env.PUBLIC_SNIPCART_API_KEY;

const { title, pageTitle, description, twitter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <SEO
      title={`${pageTitle ?? "PAGE_TITLE_NOT_FOUND"} | ${
        title ?? "TITLE_NOT_FOUND"
      }`}
      description={`${description ?? "DESCRIPTION_NOT_FOUND"}`}
      twitter={{
        creator: "@jonasmerlins1",
      }}
    />
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="30" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>

  <body>
    <Header client:visible />
    <slot />
    <button
      class="snipcart-add-item"
      data-item-id="starry-night"
      data-item-price="79.99"
      data-item-description="High-quality replica of The Starry Night by the Dutch post-impressionist painter Vincent van Gogh."
      data-item-image="/assets/images/starry-night.jpg"
      data-item-name="The Starry Night"
    >
      Add to cart
    </button>
    <ContactRow />
    <Footer />
    <PostScripts />
  </body>
</html>
