---
import "@libs/globals.css";
import AstroGap from "astro-gap";
import { PageTransition } from "astro-page-transition";
import { Spa } from "astro-spa";
import Meta, { Props as MetaProps } from "@includes/static/Meta.astro";
import Header from "@includes/static/Header.astro";
import Footer from "@includes/static/Footer.astro";
import ContactRow from "@includes/static/ContactRow.astro";
import PostScripts from "@views/includes/dynamic/PostScripts.astro";
export interface Props {
  meta?: MetaProps;
}
---

<!DOCTYPE html>
<html lang="en">
  <Meta />
  <body>
    <PageTransition speed={500} zIndex={99999} />
    <Header />
    <AstroGap spaces={5} />
    <slot />
    <ContactRow />
    <Footer />
    <PostScripts />
    <Spa />
  </body>
</html>
