---

export interface Props { 
  copyright?: string;
  tagLine?: string;
}

const { copyright, tagLine } = Astro.props;

export const defaultProps = {
  copyright: "",
  tagLine: "",
};
---

<p
  class="py-5 font-medium leading-normal text-center text-black text-md font-sans_serif"
>
  {copyright ?? defaultProps.copyright}
</p>

<p
  class="py-5 text-sm font-medium leading-normal text-center text-black font-sans_serif"
>
  {tagLine ?? defaultProps.tagLine}
</p>
