---
import type { LinkProps } from "@typings/links";

export interface Props {
  title?: string;
  links?: LinkProps[];
}

export const defaultProps = {
  title: "[@props]: TITLE_NOT_FOUND",
  links: [
    {
      url: "LINK_URL_NOT_FOUND",
      name: "LINK_NAME_NOT_FOUND",
    },
  ],
};
const { title, links } = Astro.props;
---

<div class="w-full p-8 sm:w-1/2 lg:w-2/12">
  <h3
    class="mb-8 text-md font-serif font-semibold leading-normal text-gray-900 uppercase tracking-px"
  >
    {title ?? defaultProps.title}
  </h3>

  <ul>
    {
      links?.map((link) => (
        <li class="mb-5">
          <a
            class="font-medium leading-relaxed text-white hover:text-gray-200"
            href={link?.url}
          >
            {link?.name}
          </a>
        </li>
      )) ??
        defaultProps.links.map((link) => (
          <li class="mb-5">
            <a
              class="font-medium leading-relaxed text-white hover:text-gray-200"
              href={link?.url}
            >
              {link?.name}
            </a>
          </li>
        ))
    }
  </ul>
</div>
