<section class="">
    <div class="py-24 md:ml-10 md:py-40">
      <div class="container px-4 mx-auto">
        <div class="pb-20 mb-16 border-b border-gray-700">
          <h1 class="mb-32 text-5xl text-white font-heading sm:text-6xl md:text-7xl">About company</h1>
          <div class="flex flex-wrap -mx-4">
            <div class="w-full px-4 mb-32 lg:w-1/2 lg:mb-0">
              <div class="relative max-w-md mx-auto">
                <img class="block mx-auto" src="https://picsum.photos/500" alt="">
                <img class="absolute bottom-0 left-0 -mb-20 md:-ml-8" src="https://picsum.photos/500" alt="">
              </div>
            </div>
            <div class="w-full px-4 lg:w-1/2">
              <div class="max-w-md mx-auto">
                <h1 class="mb-8 text-5xl text-white font-heading sm:text-6xl">What you need, when you need it</h1>
                <p class="max-w-sm mb-8 text-xl font-light text-white">The pond cras ornare, some chords for a three moments, like a sense of truth that comes from within.</p>
                <p class="mb-20 font-light text-gray-600">The pond cras ornare, some chords for a three moments, like a sense of truth that comes from within.</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="max-w-xl mx-auto 3xl:max-w-3xl">
            <div class="flex flex-wrap -mx-4">
              <div class="w-full px-4 mb-12 md:w-1/2 md:mb-0">
                <h4 class="mb-8 text-2xl text-white font-heading">One platform for you</h4>
                <p class="text-xl font-light text-gray-200">Proin a tempor magna. Pellentesque malesuada nunc non augue fringilla some chords for.</p>
              </div>
              <div class="w-full px-4 md:w-1/2">
                <h4 class="mb-8 text-2xl text-white font-heading">Workflow builder</h4>
                <p class="text-xl font-light text-gray-200">Sed tellus tortor, rutrum id ante sagittis, eleifend sollicitudin est. Cras lacinia arcu vitae tortor semper, sit amet mollis arcu pharetra</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>