---
import PageService from "@services/pages";

const { getPage } = PageService();

const { layout, version, pages } = await getPage("products");

export function getStaticPaths() {
    
  return pages.map((page) => ({
    params: {
      product: {
        version,
        id,
        ...page
      },
    },
    props: {
      ...page,
    },
  }));
}

const { product } = Astro.params;
---

<h1>
  Data: {product.version}
</h1>
