---
export interface Props {
  text: string;
}

export const defaultProps = {
  text: "[@props]: TEXT_NOT_FOUND",
};
---

<div
  class="w-full px-5 py-3 font-semibold text-white transition duration-200 ease-in-out bg-green-700 border border-gray-200 cursor-pointer snipcart-customer-signin rounded-xl focus:ring focus:ring-green-300 hover:bg-green-700"
>
  🛒Cart
</div>
