---
export type ImageProps = {
  src?: string;
  alt?: string;
};
import Tag from "@components/static/Tag/index.astro"
import ForwardArrowSVG from "@components/static/ForwardArrowSVG.astro";
import Actions from "@components/static/Hero/Actions.astro";

export interface Props {
  title?: string;
  heading?: string;
  features?: any[];
  description?: string;
  subHeading?: string;
  banner?: ImageProps;
}

export const defaultProps = {
  title: "",
  heading: "",
  subHeading: "",
  features: [],

}

const { title, banner, heading, features, subHeading, description } = Astro.props;
---

<section class="pt-16 overflow-hidden">
  <div class="container px-4 mx-auto">
    <div class="flex flex-wrap -m-8">
      <div class="w-full p-8 md:w-1/2">
        <div
          class="inline-block px-2 py-1 mb-0 font-semibold bg-transparent rounded-full"
        >
        <Tag text={heading}/>
        </div>
        <h1
          class:list={[
            "mb-6 font-serif font-thin transition-all duration-500 ease-in-out text-7xl lg:text-9xl max-w-3/4 text-shadow-md shadow-black font-heading"
          ]}>{title ?? "TITLE_NOT_FOUND"}</h1>
     
        <p class="text-2xl font-sans_serif font-thin text-shadow-sm shadow-black text-gray-900 mb-11 md:max-w-md">
          {subHeading ?? "SUB_HEADING_NOT_FOUND"}
       
        <Actions/>
        <div class="flex flex-wrap -m-3">
          {
          features ? 
          features.map((feature) => (
          <div class="w-auto p-3">
            <img src={feature} alt="" />
          </div>
          )): 
          <></>
          }

        </div>
      </div>

      <!--@element Hero::Features -->
      <div class="w-full h-full p-8 m-0 cursor-pointer md:w-1/2">
        <img
        loading="lazy"
          class:list={[
            "transition w-full object-fit min-h-64 scale-150 h-full duration-1000 ease-in-out transform hover:-translate-y-16"
          ]}
          src={banner?.image?.src ?? "https://picsum.photos/500"}
          alt={banner?.image?.alt ?? "NO_IMAGE_FOUND"}
        />
      </div>
    </div>
  </div>
</section>
