---
export interface Props {
  text?: any;
}
export const defaultProps = {
  text: "[@props]: TEXT_NOT_FOUND",
};

const { text } = Astro.props;
---

<div
  class="inline-flex items-center px-5 cursor-pointer group hover:shadow-2xl duration-500 hover:opacity-70 ease-in-out hover:translate-x-2 py-2 mb-8 bg-yellow-500 bg-opacity-40 rounded-full shadow-sm"
>
  <span class="block w-2 h-2 mr-2 bg-green-500 rounded-full"></span>
  <span
    class="text-sm font-thin shadow-black text-shadow-sm text-black uppercase font-serif"
    >{text ?? defaultProps.text}</span
  >
</div>
