---
import type { ImageProps } from "@typings/ImageProps";

export interface Props {
  id?: string;
  price?: number | string;
  description?: string;
  cover?: ImageProps;
  name?: string;
  actionName?: string;
}

export const defaultProps = {
  id: "ID_NOT_FOUND",
  name: "NAME_NOT_FOUND",
  price: "PRICE_NOT_FOUND",
  description: "DESCRIPTION_NOT_FOUND",
  cover: {
    src: "IMAGE_NOT_FOUND",
    alt: "IMAGE_NOT_FOUND",
  },
};

const { id, price, description, cover, name } = Astro.props;
---

<button
  class:list={[
    "snipcart-add-item",
    "inline-block px-8 py-4 font-sans_serif font-bold text-black uppercase transition duration-200 bg-green-600 rounded-md hover:bg-green-400 font-heading",
  ]}
  data-item-id={id ?? defaultProps.id}
  data-item-price={price ?? defaultProps.price}
  data-item-description={description ?? defaultProps.description}
  data-item-image={cover.src ?? defaultProps.cover.src}
  data-item-name={name ?? defaultProps.name}
>
  Add to cart
</button>
