---
export interface Props {
  id?: string;
  price?: number | string;
  description?: string;
  image?: string;
  name?: string;
  actionName?: string;
}

export const defaultProps = {
  
}

const { id, price, description, image } = Astro.props;
---

<button
  class:list={[
    "snipcart-add-item",
    "inline-block px-8 py-4 font-sans_serif font-bold text-black uppercase transition duration-200 bg-green-600 rounded-md hover:bg-green-400 font-heading",
  ]}
  data-item-id="starry-night"
  data-item-price="29.99"
  data-item-description="High-quality replica of The Starry Night by the Dutch post-impressionist painter Vincent van Gogh."
  data-item-image="/assets/images/starry-night.jpg"
  data-item-name="Seamoss Gummies"
>
  Add to cart
</button>
