---
export interface Props {
  title?: string;
  items?: any[];
}

const { title, items } = Astro.props;
---

<section class="py-20">
  <div class="container px-4 mx-auto">
    <h1
      class="mt-6 mb-4 font-serif text-7xl font-thin shadow-black text-shadow-md font-heading"
    >
      {title ? title : "TITLE_NOT_FOUND"}
    </h1>

    <div class="max-w-4xl mx-auto">
      <div class="flex flex-wrap -mx-4">
        {
          items?.map((item, index) => (
            <div class="w-full px-3 mb-6 font-sans rounded-lg md:w-1/2 group backdrop-blur-md">
              <div class="p-8 text-center duration-300 bg-yellow-500 rounded-lg shadow-2xl cursor-pointer md:p-16 hover:-translate-y-4 bg-opacity-20 hover:bg-opacity-80">
                <span class="inline-flex items-center justify-center w-40 h-40 mb-8 transition-all duration-500 ease-in-out md:mb-16 group-hover:h-12 group-hover:w-12 group-hover:-translate-y-9">
                  <img
                    loading="lazy"
                    class="object-fit h-3/4"
                    src={item?.cover?.url}
                  />
                </span>

                <p class="hidden mb-10 text-lg text-gray-200 duration-500 ease-in opacity-0 group-hover:flex group-hover:opacity-100 align-center">
                  {item?.description ?? "DESCRIPTION_NOT_FOUND"}
                </p>
                <h3 class="mb-4 text-4xl font-serif font-bold text-gray-900 duration-300 font-heading group-hover:opacity-40">
                  {item?.title}
                </h3>
                <p class="mb-6 font-bold text-gray-100">
                  {item?.heading ?? "FOUND IN: 🟠Honey, 🔴Seamoss"}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
