---
import type { ImageProps } from "@typings/Image";
export interface Props {
  image?: ImageProps;
  url?: string;
}

export const defaultProps = {
  image: {
    src: "",
    alt: "ALT_NOT_FOUND"
  },
  url: "#URL_NOT_FOUND",
}

const { image, url } = Astro.props;
---

<div class="w-auto">
  <div class="flex flex-wrap items-center">
    <div class="w-auto mr-14">
      <a href={url ?? "/"}>
        <img src={image?.src ?? "#"} alt={image?.alt ?? "#"} />
      </a>
    </div>
  </div>
</div>
