---
import AddToCart from "@components/static/AddToCart.astro";

export interface Product {
  cover?: {
    src?: string;
    alt?: string;
  };
  title?: string;
  description?: string;
  price?: string | number;
  discount?: string;
  marketValue?: string;
  subTitle?: string;
}
export const defaultProps = {
  title: "TITLE_NOT_FOUND",
};

const { title, price, description, cover } = Astro.props;
---

<section class="py-20">
  <div class="container px-4 mx-auto">
    <div class="max-w-lg lg:max-w-6xl mx-auto">
      <div class="flex flex-wrap h-16 mb-10 py-4 items-center">
        <a class="inline-block text-sm text-black font-bold" href="#"
          >Homepage</a
        >
        <span class="mx-3">
          <svg
            width="6"
            height="10"
            viewbox="0 0 6 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.453338 1.05338L0.453338 5.20671L0.453339 8.94671C0.453339 9.58671 1.22667 9.90671 1.68001 9.45338L5.13334 6.00005C5.68667 5.44671 5.68667 4.54671 5.13334 3.99338L3.82 2.68005L1.68001 0.540046C1.22667 0.093379 0.453338 0.41338 0.453338 1.05338Z"
              fill="black"></path>
          </svg>
        </span>
        <a class="inline-block text-sm text-black font-bold" href="#"
          >Catalogue</a
        >
        <span class="mx-3">
          <svg
            width="6"
            height="10"
            viewbox="0 0 6 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0.453338 1.05338L0.453338 5.20671L0.453339 8.94671C0.453339 9.58671 1.22667 9.90671 1.68001 9.45338L5.13334 6.00005C5.68667 5.44671 5.68667 4.54671 5.13334 3.99338L3.82 2.68005L1.68001 0.540046C1.22667 0.093379 0.453338 0.41338 0.453338 1.05338Z"
              fill="black"></path>
          </svg>
        </span>
        <a class="inline-block text-sm text-green-500 font-bold" href="#"
          >{title ?? defaultProps.title}</a
        >
      </div>
      <div class="flex flex-wrap -mx-4">
        <div class="w-full lg:w-3/5 px-4 mb-14 lg:mb-0">
          <div class="flex flex-wrap h-full -mx-4">
            <div class="w-full xs:w-2/6 md:w-1/4 px-4 mb-7 xs:mb-0">
              <div class="flex flex-wrap -mx-4 -mb-7">
                <div class="w-1/2 xs:w-full px-4 mb-7">
                  <a
                    class="relative group block h-24 lg:h-32 w-full bg-blueGray-900 rounded-md"
                    href="#"
                  >
                    <div
                      class="absolute top-0 left-0 w-full h-full transform -translate-y-1 -translate-x-1 group-hover:translate-y-0 group-hover:translate-x-0 transition duration-300"
                    >
                      <img
                        class="img-fluid w-full h-full object-cover border-2 border-black rounded-md"
                        src="shopal-assets/product-details/product-detail-small1.png"
                        alt=""
                      />
                    </div>
                  </a>
                </div>
                <div class="w-1/2 xs:w-full px-4 mb-7">
                  <a
                    class="relative group block h-24 lg:h-32 w-full bg-blueGray-900 rounded-md"
                    href="#"
                  >
                    <div
                      class="absolute top-0 left-0 w-full h-full transform -translate-y-1 -translate-x-1 group-hover:translate-y-0 group-hover:translate-x-0 transition duration-300"
                    >
                      <img
                        class="img-fluid w-full h-full object-cover border-2 border-black rounded-md"
                        src="shopal-assets/product-details/product-detail-small2.png"
                        alt=""
                      />
                    </div>
                  </a>
                </div>
                <div class="w-1/2 xs:w-full px-4 mb-7">
                  <a
                    class="relative group block h-24 lg:h-32 w-full bg-blueGray-900 rounded-md"
                    href="#"
                  >
                    <div
                      class="absolute top-0 left-0 w-full h-full transform -translate-y-1 -translate-x-1 group-hover:translate-y-0 group-hover:translate-x-0 transition duration-300"
                    >
                      <img
                        class="img-fluid w-full h-full object-cover border-2 border-black rounded-md"
                        src="shopal-assets/product-details/product-detail-small3.png"
                        alt=""
                      />
                    </div>
                  </a>
                </div>
                <div class="w-1/2 xs:w-full px-4 mb-7">
                  <a
                    class="relative group block h-24 lg:h-32 w-full bg-blueGray-900 rounded-md"
                    href="#"
                  >
                    <div
                      class="absolute top-0 left-0 w-full h-full transform -translate-y-1 -translate-x-1 group-hover:translate-y-0 group-hover:translate-x-0 transition duration-300"
                    >
                      <img
                        class="img-fluid w-full h-full object-cover border-2 border-black rounded-md"
                        src="shopal-assets/product-details/product-detail-small4.png"
                        alt=""
                      />
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="w-full xs:w-4/6 md:w-3/4 px-4">
              <a
                class="relative group block h-112 xs:h-full max-h-150 w-full bg-blueGray-900 rounded-md"
                href="#"
              >
                <div
                  class="absolute top-0 left-0 w-full h-full transform -translate-y-1 -translate-x-1 group-hover:translate-y-0 group-hover:translate-x-0 transition duration-300"
                >
                  <img
                    class="img-fluid w-full h-full object-cover border-2 border-black rounded-md"
                    src={cover?.src}
                    alt=""
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-2/5 px-4">
          <div class="max-w-lg mx-auto">
            <span
              class="inline-flex h-8 mb-4 px-1 items-center justify-center text-sm font-black text-white uppercase bg-indigo-500 border-2 border-black rounded-md shadow-sm"
              >Label</span
            >
            <h2 class="text-4xl font-black mb-1 font-serif">
              {title ?? defaultProps.title}
            </h2>
            <span class="block text-2xl font-black text-green-500 mb-4"
              >$535,50</span
            >
            <p class="font-medium mb-6">
              {description ?? defaultProps.description}
            </p>
            <div class="flex flex-wrap mb-6">
              <div class="w-full sm:w-auto mb-4 sm:mb-0 sm:mr-4">
                <span class="block text-sm font-black mb-2">Amount</span>
                <div
                  class="flex h-12 w-24 px-2 items-center justify-between border-2 border-black rounded-md"
                >
                  <button
                    class="flex w-3.5 h-3.5 px-px items-center justify-center bg-black hover:bg-indigo-500 rounded transition duration-100"
                  >
                    <div class="h-px mx-px w-full bg-white"></div>
                  </button>
                  <input
                    class="w-10 text-center text-sm font-bold placeholder-black text-black outline-none"
                    type="number"
                    placeholder="2"
                  />
                  <button
                    class="relative flex w-3.5 h-3.5 px-px py-px items-center justify-center bg-black hover:bg-indigo-500 rounded transition duration-100"
                  >
                    <div class="relative h-full w-full py-px">
                      <div class="absolute top-1/2 left-0 h-px w-full bg-white">
                      </div>
                      <div
                        class="inline-block max-w-max mx-auto h-full bg-white"
                      >
                        <div class="inline-block px-px"></div>
                      </div>
                    </div>
                  </button>
                </div>
              </div>
              <div class="w-full sm:w-auto">
                <span class="block text-sm font-black mb-2">Size</span>
                <div
                  class="group relative h-12 w-32 border-2 border-black rounded-md overflow-hidden"
                >
                  <select
                    class="w-full h-full px-4 text-sm font-bold appearance-none outline-none"
                    name=""
                    id=""
                  >
                    <option value="1">Small</option>
                    <option value="1">Medium</option>
                    <option value="1">Large</option>
                  </select>
                  <span
                    class="absolute top-1/2 right-0 mr-3 transform -translate-y-1/2 text-black group-hover:text-indigo-500"
                  >
                    <svg
                      width="10"
                      height="6"
                      viewbox="0 0 10 6"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8.94667 0.453308H4.79333H1.05333C0.413333 0.453308 0.0933335 1.22664 0.546667 1.67997L4 5.13331C4.55333 5.68664 5.45333 5.68664 6.00667 5.13331L7.32 3.81997L9.46 1.67997C9.90667 1.22664 9.58667 0.453308 8.94667 0.453308Z"
                        fill="currentColor"></path>
                    </svg>
                  </span>
                </div>
              </div>
            </div>
            <a
              class="group relative inline-block mb-4 h-12 w-full bg-blueGray-900 rounded-md"
              href="#"
            >
              <div
                class="absolute top-0 left-0 transform -translate-y-1 -translate-x-1 w-full h-full group-hover:translate-y-0 group-hover:translate-x-0 transition duration-300"
              >
                <div
                  class="flex h-full w-full items-center justify-center bg-green-600 border-2 border-black rounded-md"
                >
                  <span class="text-base font-black text-black"
                    >Add to Cart</span
                  >
                </div>
              </div>
            </a>
            <a
              class="inline-flex w-full items-center justify-center mb-5 text-black hover:text-indigo-500 transition duration-200"
              href="#"
            >
              <svg
                width="20"
                height="18"
                viewbox="0 0 20 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.44 0.0999756C12.63 0.0999756 11.01 0.979976 10 2.32998C8.99 0.979976 7.37 0.0999756 5.56 0.0999756C2.49 0.0999756 0 2.59998 0 5.68998C0 6.87998 0.19 7.97998 0.52 8.99998C2.1 14 6.97 16.99 9.38 17.81C9.72 17.93 10.28 17.93 10.62 17.81C13.03 16.99 17.9 14 19.48 8.99998C19.81 7.97998 20 6.87998 20 5.68998C20 2.59998 17.51 0.0999756 14.44 0.0999756Z"
                  fill="currentColor"></path>
              </svg>
              <span class="ml-2 text-sm font-black">Add to Wishlist</span>
            </a>
            <div class="border-2 border-black rounded-md">
              <button
                class="group flex flex-wrap w-full px-6 py-5 text-left border-b-2 border-black items-center justify-between"
              >
                <span class="text-sm font-black">Description</span>
                <svg
                  width="10"
                  height="6"
                  viewbox="0 0 10 6"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8.94674 0.453369H4.79341H1.05341C0.41341 0.453369 0.0934098 1.2267 0.546743 1.68004L4.00008 5.13337C4.55341 5.6867 5.45341 5.6867 6.00674 5.13337L7.32008 3.82004L9.46008 1.68004C9.90674 1.2267 9.58674 0.453369 8.94674 0.453369Z"
                    fill="black"></path>
                </svg>
                <div class="hidden mt-4 group-hover:block">
                  <p class="text-xs font-bold">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the
                    industry&apos;s standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book.
                  </p>
                </div>
              </button>
              <button
                class="group flex flex-wrap w-full px-6 py-5 text-left border-b-2 border-black items-center justify-between"
              >
                <span class="text-sm font-black">Specification</span>
                <svg
                  width="10"
                  height="6"
                  viewbox="0 0 10 6"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8.94674 0.453369H4.79341H1.05341C0.41341 0.453369 0.0934098 1.2267 0.546743 1.68004L4.00008 5.13337C4.55341 5.6867 5.45341 5.6867 6.00674 5.13337L7.32008 3.82004L9.46008 1.68004C9.90674 1.2267 9.58674 0.453369 8.94674 0.453369Z"
                    fill="black"></path>
                </svg>
                <div class="hidden mt-4 group-hover:block">
                  <p class="text-xs font-bold">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the
                    industry&apos;s standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book.
                  </p>
                </div>
              </button>
              <button
                class="group flex flex-wrap w-full px-6 py-5 text-left items-center justify-between"
              >
                <span class="text-sm font-black">Shipping &amp; Returns</span>
                <svg
                  width="10"
                  height="6"
                  viewbox="0 0 10 6"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8.94674 0.453369H4.79341H1.05341C0.41341 0.453369 0.0934098 1.2267 0.546743 1.68004L4.00008 5.13337C4.55341 5.6867 5.45341 5.6867 6.00674 5.13337L7.32008 3.82004L9.46008 1.68004C9.90674 1.2267 9.58674 0.453369 8.94674 0.453369Z"
                    fill="black"></path>
                </svg>
                <div class="hidden mt-4 group-hover:block">
                  <p class="text-xs font-bold">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the
                    industry&apos;s standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book.
                  </p>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
